html{
    font-size: 15px;
}

body{
    font-size: 1rem;
    margin: 0px;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color:#1e0ca8
}

.fondo{
    background-color: #E6F4EA;
}
nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #d7fbe1a9;
    margin: 10px;
}

.logo{
    width: 10vw;
    padding: 10px;
    position: static;
}
.lista{
    list-style: none;
    text-decoration: none;
    font-size: 1.4rem;
    box-sizing: border-box;
    display: flex;
    padding: 0 15px;
}

.elementosLista{
    padding: 0 30px;
}

h1{
    margin: 0;
    font-size: 3rem;
}
.parrafoH1{
    margin: 30px 0;
    font-size: 1.5rem;
}
main{
    padding-top: 10vh;
}

.principal{
    box-sizing: border-box;
    text-align: center;
    width: 80vw;
    margin: auto;
}

.marca{
    color: #4481a4;
}
.botonAcceso{
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.5em 1em;
    margin: 1em;
    border: 0.2em solid #4481a4;
    border-radius: 0.5em;
    background-color: #b4d6e9;
    cursor: pointer;
}

.botonesAcceso {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.botonAcceso:hover{
    transform: scale(1.05);
}

.contenidoPrincipal{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.contenidoTexto{
    cursor: default;
}

.imagen{
    height: 32rem;
    width: auto;
    padding-left: 5rem;
}
.contenedoresGeneral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.beneficios h2{
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

.tarjetas{
    width: 18rem;
    height: auto;
    padding: 10px;
    margin: 1vw 3vw 3vw 3vw;
    background-color: #e1fbf1;
    border: 2px solid #93c5a1e0;
    border-radius: 10px;
    box-shadow: 0 2px 6px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.tarjetas:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px 5px #93c5a1e0;
    cursor: pointer;
}

h3{
    margin-top: 0;
    text-align: center;
}

.ico{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding-right: 10px;
}

footer{
    border-top: 2px solid #b0e7c0;
    background-color: #CDE7D3;
    padding: 10px;
}

.menuFooter{
    margin-left: 0.8rem;
    box-sizing: border-box;
    display: flex;
}
.dividir{
    margin: 0.5rem;
    border-right: 1px solid black;
}
.enlacesFooter{
    padding: 0.35rem;
}

.logoFooter{
    width: 20vw;
    padding-right: 10px;
    float: right;
}

.contactoFooter{
    margin-left: 1rem;
}
